<div class="col">
  <div class="card">
    <% if product.image.attached? %>
      <%= image_tag product.try(:image), class:"card-img-top", alt: "..." %>
    <% else %>
      <%= image_tag "/...", class:"card-img-top", alt: "..." %>
    <% end %>


    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text"><%= simple_description product.description %></p>
      <p class="card-text"><%= date_format product.created_at %></p>
      <%= link_to 'Conoce mas', product, class:"btn btn-primary" %>
    </div>
  </div>
</div>